@using TravelTrip.Models.Classes
@model List<TravelTrip.Models.Blog>
@foreach (var x in Model)
{
<div class="right">
    <div class="bot-left">
        <img src="~/@x.BlogImage" alt="Alternate Text" style="width:280px;height:150px"/>
    </div>
    <div class="left-text">
        <h4>@x.Header</h4>
        <p>@Html.Raw(x.Description.Substring(0, 50))
        ...
        </p>
        <p><a href="/Blog/BlogDetal/@x.Id"><span class="read">Read More >></span></a></p>
    </div>
</div>
}